name: Build

on:
  push:
    tags:
      - "v*"
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: -D warnings -A unexpected_cfgs

      - name: Build
        run: cargo build --locked --release

      - name: Generate third-party licenses
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          cargo install cargo-bundle-licenses --locked
          cargo bundle-licenses --format yaml --output THIRDPARTY.yml

      - name: Package
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          cp target/release/heatsd .
          cp target/release/heats .
          cp target/release/heats-list-apps .
          cp target/release/heats-list-windows .
          cp target/release/heats-focus-window .
          tar czf heats-aarch64-apple-darwin.tar.gz heatsd heats heats-list-apps heats-list-windows heats-focus-window LICENSE THIRDPARTY.yml

      - name: Generate SHA256
        if: startsWith(github.ref, 'refs/tags/v')
        run: shasum -a 256 heats-aarch64-apple-darwin.tar.gz > heats-aarch64-apple-darwin.tar.gz.sha256

      - name: Upload artifact
        if: startsWith(github.ref, 'refs/tags/v')
        uses: actions/upload-artifact@v6
        with:
          name: heats-aarch64-apple-darwin
          path: |
            heats-aarch64-apple-darwin.tar.gz
            heats-aarch64-apple-darwin.tar.gz.sha256

  upload:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          merge-multiple: true

      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            heats-*.tar.gz
            heats-*.tar.gz.sha256
